:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
}


body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding-top: 72px;
}


a {
    text-decoration:none;
  }

.pointer {
    cursor: pointer;
}


.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 1152px;
}




.icon {
    width: 41;
}


/* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


/* Modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
}

.escape {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    fill: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.escape:hover,
.escape:focus {
    background: var(--accent-color);
    fill: #FFFFFF;
}

.form {
    padding: 72px 24px 24px 24px;
}

.form-field {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.form-field input,
.form-field textarea {
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input {
    height: 40px;
    padding-left: 38px;
}

.form-field input:focus + .form-icon {
    fill: #4d5ae5;
}

.form-field label {
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
}

.form-icon {
    position: absolute;
    top: 56%;
    left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-style-first {
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.text-style-second {
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-field textarea {
    font-size: 12px;
    padding: 8px 16px;
    height: 120px;
    resize: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
   color: rgba(117, 117, 117, 0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(117, 117, 117, 0.5);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(117, 117, 117, 0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(117, 117, 117, 0.5);
}


.form-head {
    display: block;
    text-align: center;
    margin-bottom: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--title-text-color);
}

.comment {
    margin-bottom: 16px;
}


.policy {
    font-size: 12px;
    line-height: 1.33;
    color:#757575;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 0.04em;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.checkbox:checked + .policy-icon {
    border-color: transparent;
    background-image: url("../images/click.svg");
    background-size: contain;
    background-origin: border-box;
}

.policy-text {
    margin: 0;
}

.button-policy {
    width: 169px;
    height: 56px;
}

.modal-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Header */
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: fixed;
    min-height: 72px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 999;
}

.header div {
    height: 100%;
    display: flex;
    align-items: center;
}


/* Навигация */

.current {
    position: relative;
}


.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    
    background: var(--accent-color);
    border-radius: 2px;
}

.site-nav {
    display: flex;
    margin-left: 77px;
}

.site-nav li {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}


.site-nav li + li {
    margin-left: 40px;
}

.site-nav a {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #434455;
}

/* Logo */

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
}

.logo-header {
    color: var(--title-text-color);

}

.logo-footer {
    color: #FFFFFF;
}

/* Authorisation */

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav li + li {
    margin-left: 40px;
}

.auth {
color: var(--primary-text-color);
line-height: 1.5;
letter-spacing: 0.02em;
}

.auth:hover,
.auth:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--primary-text-color);
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    height: 603px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office.jpg);
    background-position: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

/* Sections */

.section-title {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
}

.list-title {
    margin: 0;
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* Features */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features ul {
    display: flex;
}

.features li {
    width: 264px;
}

/* .features li::before {
    display: block;
    content: '';
    height: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
} */

.icon-strategy::before {
    background-image: url(../images/features.svg);
}

.icon-punctuality::before {
    background-image: url(../images/features1.svg);
}

.icon-diligence::before {
    background-image: url(../images/features2.svg);
}

.icon-technologies::before {
    background-image: url(../images/features3.svg);
}

.features .list-title {
    padding-top: 0;
}

.features li + li {
    margin-left: 24px;
}

.features p {
    margin-bottom: 0;
    margin-top: 0;
}

.features-div {
        width: 264px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
}


/* What are we doing */

.wawd {
    padding-bottom: 120px;
}

.wawd ul {
    display: flex;
}

.wawd img {
    display: block;
}

.wawd li {
    border: 1px solid #E7E9FC;
}

.wawd li + li
{
    margin-left: 24px;
}


/* Team */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team ul {
    display: flex;
}

.team-list {
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.team li + li {
    margin-left: 24px;
}

.team img {
    display: block;
}

.team-card {
    padding-top: 32px;
    padding-bottom: 36px;
}

.team .text {
    margin-bottom: 12px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.social-list {
    /* display: flex;
    flex-direction: row; */
    padding-left: 16px;
    padding-right: 16px;
}

/* Customers */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers ul {
    display: flex;
    justify-content: space-between;
}

.icon {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    fill: #8e8f99;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    fill: var(--accent-color);
}

.customers li+li {
    margin-left: auto;
}


/* Portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}


.filters li + li {
    margin-left: 24px;
}

.port {
    display: flex;
    flex-wrap: wrap;
}

.port li {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
    margin-bottom: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.port li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port img {
    display: block;
}

.port-card {
    border: 0.5px solid #F4F4FD;
    border-top: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.port li:nth-child(3n) {
    margin-right: 0;
}

.port li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
}

.product-actions {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-text {
    position: absolute;
    width: 296px;
    height: 96px;
    left: 32px;
    top: 40px;
    margin: 0;

    color: #F4F4FD;
}

.product-card:hover .product-overlay,
.product-card:focus .product-overlay {
    transform: translateY(-100%); 
}


/* Buttons */

button {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 16px;
    border: 1px solid transparent;
}

.button-main,
.button-policy {
    color: #FFFFFF;
    background-color: var(--accent-color);
    line-height: 1.19;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
    background: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-policy:hover,
.button-policy:focus {
    background: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-portfolio {
    display: inline-block;
    color: var(--accent-color);
    background-color: #F4F4FD;
    line-height: 1.5;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid #E7E9FC;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 0;
}

/* Параграфы */

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}


/* Footer */

.footer {
    color: #FFFFFF;
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer div {
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .logo {
    margin-bottom: 16px;
}

.footer-div {
    flex-direction: column;
}

.footer ul {
    display: flex;
}

.smp {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    margin-right: 120px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color:#31D0AA;
}

.footer-list li + li {
    margin-left: 16px;
}

.social-media {
    margin-right: 80px;
}

.subscription {
    display: flex;
}

.subscription-field {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.subscription-field label {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subscription-field input {
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--title-text-color);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-field:focus {
    border:#4D5AE5;
}

.footer .footer-btn {
    display: flex;
    align-items: flex-end;
}

.subscription-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;

    padding: 8px 24px;
    gap: 16px;

    background: #4D5AE5;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn:hover,
.subscription-btn:focus {
    background: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.subscription-btn svg {
    display: flex;
}

/* цвет основного текста + 2 часть лого #2E2F42 */

/* вторичный цвет текста #434455 */

/* акцент #4D5AE5 */

/* белый #FFFFFF */