:root{
    --navcolor:#2E2F42;
    --contactcolor:#434455;
    --whitecolor:#FFFFFF;
    --butcolor:#4D5AE5;
    --clickcolor:#404BBF;
    --grecolor:#31D0AA;
    --sercolor:#F4F4FD;
    --serrcolor:#E7E9FC;
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
/* body */

.boddy{
        font-family: "Roboto", sans-serif;
        background-color: #FFFFFF;
    color: var(--contactcolor);
    
    }
    p,
    h1,
    h2, 
    h3,
    h4,
    h5,
    h6{
        margin: 0;
    }
    button{
        cursor: pointer;
    }
    ul,
    ol{
        list-style: none;
        margin:0;
        padding:0;
    }
    .pointer {
        cursor: pointer;
    }

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
        background: rgba(46, 47, 66, 0.4);
    
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    
    /* Modal */
    
    /* Modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
}

.escape {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    fill: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.escape:hover,
.escape:focus {

    background: var(--accent-color);
    fill: #FFFFFF;
}

.form {
    padding: 72px 24px 24px 24px;
}

.form-field {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    border: #2E2F42;
    
}


.form-field input,
.form-field textarea {
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.form-field textarea:focus {
   border-color: #4D5AE5;
   outline: none;
    
}

.form-field input {
    height: 40px;
    padding-left: 38px;
    border-color: rgba(117, 117, 117, 0.5);

    
}
.form-field input :hover{
    height: 40px;
    padding-left: 38px;
    border-color: var(--butcolor);

    
}


.form-field input:focus + .form-icon {
    fill: #4d5ae5;
    border-color: #4d5ae5 ;
    
}
.form-field input:focus {
    fill: #4d5ae5;
    border-color: #4d5ae5 ;
    outline: none;
}



.form-field label {
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    
}
.border-input :hover :focus{
    border-color: #4d5ae5 ;
}
.form-icon {
    position: absolute;
    top: 56%;
    left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-style-first {
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.text-style-second {
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-field textarea {
    font-size: 12px;
    padding: 8px 16px;
    height: 120px;
    resize: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
   color: rgba(117, 117, 117, 0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(117, 117, 117, 0.5);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(117, 117, 117, 0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(117, 117, 117, 0.5);
}


.form-head {
    display: block;
    text-align: center;
    margin-bottom: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--title-text-color);
}

.comment {
    margin-bottom: 16px;
}


.policy {
    font-size: 12px;
    line-height: 1.33;
    color:#757575;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 0.04em;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.checkbox:checked + .policy-icon {
    border-color: transparent;
    background-image: url("../images/click.svg");
    background-size: contain;
    background-origin: border-box;
}

.policy-text {
    margin: 0;
    
}
.policy-item{
    color: #404BBF;}

.button-policy {
    width: 169px;
    height: 56px;
    background-color:var(--butcolor);
    border-color: var(--butcolor);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #E7E9FC;
}

.modal-btn {
    width: 100%;
    display: flex;
    justify-content: center;
   
}
/* header */
.head{
    background: var(--whitecolor);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
border-bottom:  1px solid #E7E9FC ;





}
.head div {
    display: flex;
    align-items: center;
}
.container {
    padding: 0 15px;
    margin:  auto;
    width: 1158px;
}
/* logo */
.web{
   

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color:  var(--butcolor);
text-decoration: none;
text-transform:uppercase;

}
/* logo2 */
.stud{
    
font-family: "Raleway";
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color:var(--navcolor);
text-decoration: none;
text-transform:uppercase;

}

/* Button stud */
.buttron{
    list-style-type: none;
    display: flex;
    margin-left: 77px;
}
.buttron li {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.buttron li + li {
    margin-left: 40px;
}

.buttron a {
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
} 

.current {
    position: relative;

}


.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
   
    background: var(--butcolor);
    border-radius: 2px;
}
.currents{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--butcolor);
text-decoration: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.studios{

font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--navcolor);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.studios:hover{
    color:var(--contactcolor);
}
.studios:focus{
    color:var(--contactcolor);}
   
.studios:active{
    color:  var(--clickcolor)
}

    


/* Button portfolio */


.maines {
    display: flex;
    margin-left: auto;
}

.maines li + li {
    margin-left: 40px;
}


.mail{
   

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5px;
color: var(--contactcolor);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;


}
.mail {
    display: flex;
    margin-left: auto;
}

.mail li + li {
    margin-left: 40px;
}

.mail {
color: var(--navcolor);
line-height: 1.5;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.mail:hover{
    color:var(--clickcolor);
}
.mail:focus{
    color:var(--clickcolor);
}

.mail:active{
    color: var(--clickcolor) ;
}
    
/* href number */


/* section1 */
.secone{
    background-color:var(--navcolor);
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    height: 603px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people\ .jpg);
    background-position: center;
   
}
/* paragraf */
.effects{
    
    
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    
    color:  var(--whitecolor);
}



.butik{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    background: var(--butcolor);
    color:  var(--whitecolor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 3;
    border:none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48;
    transition:  background 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
}
.bitik:hover{
    background:var(--clickcolor);
}
.butik:focus{
    background:var(--clickcolor);
}

.butik:active{
    background:var(--clickcolor);
}  





/* section2 */
.advantages{
    background:   var(--whitecolor);
}
.adva{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    
}
.item{
    margin: 0;
    
   
    color: var(--navcolor);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
}

  

.item {
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.item ul {
    display: flex;
    
}

.item li {
    width: 264px;
}

.item .strategy {
    padding-top: 0;
}

.item li + li {
    margin-left: 24px;
}

.item p {
    margin-bottom: 0;
    margin-top: 0;
}
.features-div {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
 
}


/* Strategy */
.strategy{
    margin: 0;
    margin-bottom: 8px;
   
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navcolor);
}

.business{
 font-size: 16px;
 font-weight: 400;
    line-height: 1.5;
    color: var(--contactcolor);
    letter-spacing: 0.02em;
    margin: 0;

}

/*3section*/
.doing{
    background:  var(--whitecolor);
}
.doing {
    padding-bottom: 120px;
}

.doing ul {
    display: flex;
}

.doing img {
    display: block;
}

.doing li {
    border: 1px solid var(--serrcolor);
}

.doing li + li
{
    margin-left: 24px;
}
.what{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--navcolor);
}
.comp{
    width: 360px;
}

/*4section*/


.cot {
    background-color: var(--sercolor);
    padding-top: 120px;
    padding-bottom: 120px;
}

.cot ul {
    display: flex;
}

.cot li {
    text-align: center;
    background-color: #FFFFFF;

}

.cot li + li {
    margin-left: 24px;
}

.cot img {
    display: block;
}

.team-card {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
    color:var(--navcolor);
}

.blue{
    width: 264px;
    height: 260px;
}
.mark{
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navcolor);
}
.product{
    font-size: 16px;
    line-height: 1.5;
    color:var(--contactcolor);

}
.social-list-item{

}
.social-list-item:hover{
   
}
.social-list-item:focus{

}
.section-title {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--butcolor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
}
.social-list-link :hover{
    background-color: #404BBF;
}
.social-list-link:focus{
    background-color: #404BBF;
}

.social-list {
    padding-left: 16px;
    padding-right: 16px;
}

.socialf{
    margin-top: 8px;
    transition: background-color hover  250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.socialfs:hover{
    background-color: #404BBF;
}
.socialfs:focus{
    background-color: #404BBF;
}
   
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.customers ul {
    display: flex;
}

.icon {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.icon:hover,
.icon:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;

}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 88px;
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    fill: var(--butcolor);
}

.customers li+li {
    margin-left: 24px;
}

.customers li+li {
    margin-left: 24px;
}
@media screen and (max-width: 1199px) {

    .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    }

    .customers ul {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -72px;
}
    .icon {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 72px;
}
}

@media screen and (min-width: 1200px) {
    .customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers ul {
    justify-content: space-between;
}
}

/*--5section*/

.footer {
    color: #FFFFFF;
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer div {
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
}
.dio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color:  var(--sercolor);
    
    text-transform:uppercase;
   
}

.footer .logo {
    margin-bottom: 16px;
}

.footer-div {
    flex-direction: column;
}

.footer ul {
    display: flex;
}

.smp {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    margin-right: 120px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color:#31D0AA;
}

.footer-list li + li {
    margin-left: 16px;
}

.social-media {
    margin-right: 80px;
}

.subscription {
    display: flex;
    
}

.subscription-field {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.subscription-field label {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subscription-field input {
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--title-text-color);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-field:focus {
    border:#4D5AE5;
}

.footer .footer-btn {
    display: flex;
    align-items: flex-end;
}

.subscription-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;

    padding: 8px 24px;
    gap: 16px;

    background: #4D5AE5;
    border-color: #4D5AE5 ;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn:hover,
.subscription-btn:focus {
    border-color:#404BBF; 
    background: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.subscription-btn svg {
    display: flex;
}
@media screen and (max-width: 1199px) {
    .footer{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .footer-container{
        flex-wrap: wrap;
        padding-left: 108px;
    }
    .footer .footer-btn {
        display: flex;
        align-items: flex-end;
    }
    .footer-logo {
        margin-right: 24px;
        margin-bottom: 72px;
    }
    .subscription-field {
        margin-right: 24px;
    }
    .subscription-field input {
        width: 264px;
    }
    .ftr-logo {
        display: flex;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {

    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .ftr-logo {
        justify-content: center;
    }
    .footer-logo{
        margin-right: 0;
    }

    .smp {
        justify-content: center;
    }
    .subscription {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
    }
    .subscription-field {
        margin-right: 0%;
        width: inherit;
    }
    .subscription-field input {
        margin-bottom: 16px;
        width: inherit;
    }
    .social-media {
        margin-bottom: 72px;
    }
    .subscription-field label {
    display: flex;
    justify-content: center;
}
}
@media screen and (min-width: 1200px) {
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-container {
        align-items: flex-start;
    }
    .subscription-field input {
        width: 264px;
    }
    .footer-logo {
        margin-right: 120px;
    }
    .social-media {
        margin-right: 80px;
    }
    .ftr-logo {
        display: flex;
        margin-bottom: 16px;
    }
    .subscription-field {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
    }
    .footer .footer-btn {
        display: flex;
        align-items: flex-end;
    }
    .subscription {
        display: flex;
    }
}


/* pppppppppppppppooooooooooooooorrrrrrrrrrrrrttttttttttfffffffffoooooooooolllllliiiiiiiooooooo */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}


.filters li + li {
    margin-left: 24px;
}

.port {
    display: flex;
    flex-wrap: wrap;
}

.port li {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
    margin-bottom: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.port li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port img {
    display: block;
}

.port-card {
    border: 0.5px solid #F4F4FD;
    border-top: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.port li:nth-child(3n) {
    margin-right: 0;
}

.port li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
}

.product-actions {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-text {
    position: absolute;
    width: 296px;
    height: 96px;
    left: 32px;
    top: 40px;
    margin: 0;

    color: #F4F4FD;
}

.product-card:hover .product-overlay,
.product-card:focus .product-overlay {
    transform: translateY(-100%); 
}


/* Buttons */

.button {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 16px;
    border: 1px solid transparent;
}

.button-main {
    color: #FFFFFF;
    background-color: var(--accent-color);
    line-height: 1.19;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-portfolio {
    font-family:'Roboto' sans-serif;
    display: inline-block;
    color: var(--accent-color);
    background-color: #F4F4FD;
    line-height: 1.5;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),  
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),  
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     ;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color:  var(--accent-color) ;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),  
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),  
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     ;
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
   
}
.list-title {
    margin: 0;
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
    .portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }
    .port {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    }
    .port li {
        max-width: 356px;
        margin: 0;
    }
    .filters {
    padding: 0;
    margin-bottom: 64px;
    justify-content: center;
    column-gap: 24px;
}
}

@media screen and (min-width: 1200px) {
    .portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }
    .port {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    }
    .port li {
        max-width: 360px;
    }
    .filters {
    margin-bottom: 72px;
    }
}
